In [1]:
### 기계공학과 4학년
### 20154523 강남규

## 배열 초기화 생성 예

In [1]:
import numpy as np

def pprint(arr):
    print("shape: {}, dimension:{}, dtype:{}".format(arr.shape, arr.ndim, arr.dtype))
    print("Array's Data:\n", arr)

In [2]:
a = np.zeros((3, 4))
pprint(a)

shape: (3, 4), dimension:2, dtype:float64
Array's Data:
 [[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [3]:
a = np.ones((2, 3, 4), dtype = np.int16)
pprint(a)

shape: (2, 3, 4), dimension:3, dtype:int16
Array's Data:
 [[[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]

 [[1 1 1 1]
  [1 1 1 1]
  [1 1 1 1]]]

In [4]:
a = np.full((2, 2), 7)
pprint(a)

shape: (2, 2), dimension:2, dtype:int32
Array's Data:
 [[7 7]
 [7 7]]

In [5]:
a = np.empty((4, 2))
pprint(a)

shape: (4, 2), dimension:2, dtype:float64
Array's Data:
 [[0.000e+000 0.000e+000]
 [0.000e+000 0.000e+000]
 [0.000e+000 4.407e-321]
 [0.000e+000 0.000e+000]]

In [9]:
a = np.array([[1, 2, 3], [4, 5, 6]])
b = np.ones_like(a)
pprint(b)

shape: (2, 3), dimension:2, dtype:int32
Array's Data:
 [[1 1 1]
 [1 1 1]]