In [1]:
### 기계공학과 4학년
### 20154523 강남규

## 데이터 베이스 읽기 예

In [1]:
import numpy as np
import pandas as pd
import pandas.io.sql
import sqlite3

conn = sqlite3.connect('SoonSurf.db')

frame = pd.read_sql('select * from surfinfo', conn)
frame

          name  score  gender country
0          홍민식    8.8    male     KOR
1  Eva Cassidy    8.5  female     USA
2          강남규    8.0    male     kor